.container {
  width: $desktop-container;
  margin: 0 auto;
}

section {
  background-color: #fff;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.flex-col {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col--big {
  width: 447px;
}

.flex-coll--small {
  width: 300px;
}

.btn {
  display: inline-block;
  width: 330px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #fff;
  border: solid $macaroni-and-cheese 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: $battleship-grey;
}

.main-bottom {
  background: #fff;
  text-align: right;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-btn {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0px;
  color: $battleship-grey;

  * {
    vertical-align: middle;
  }

  .fa {
    font-size: 30px;
  }
}