html,
body {
  font-family: Gibson, sans-serif;
  font-size: 20px;
  color: $battleship-grey;
}



h2 {
  font-family: "museo", serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.39;
}

p {
  font-family: "canada-type-gibson", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: $battleship-grey;
}

a {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  color: $dark-sky-blue;
  text-decoration: none;
}

.preview-header {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.preview-text {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0;
}