 /*
 Sizes
 */
$desktop-container: 1190px;


 /*
 Colors
 */
 $battleship-grey: #6f7277;
 $pale-grey: #f2f4f7;
 $macaroni-and-cheese: #f6aa31;
 $grey: #d7d7d7;
 $white: #fefefe;
 $greyish: #b2b2b1;
 $pinkish-greyish: #bfbfbf;
 $pinkish-grey: #c6c6c6;
 $dark-sky-blue: #42c3dc;
 $charcoal: #36342f;
 $grey-light: #dcdcdc;
 $black-opacity: rgba(0,0,0, 0.7);