.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
Sizes
*/
/*
Colors
*/
body {
  background-color: #f2f4f7; }

main {
  background-color: #f2f4f7;
  margin-bottom: 30px; }

html,
body {
  font-family: Gibson, sans-serif;
  font-size: 20px;
  color: #6f7277; }

h2 {
  font-family: "museo", serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.39; }

p {
  font-family: "canada-type-gibson", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: #6f7277; }

a {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  color: #42c3dc;
  text-decoration: none; }

.preview-header {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  margin: 0; }

.preview-text {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0; }

.container {
  width: 1190px;
  margin: 0 auto; }

section {
  background-color: #fff; }

.flex-row {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px; }

.flex-col {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flex-col--big {
  width: 447px; }

.flex-coll--small {
  width: 300px; }

.btn {
  display: inline-block;
  width: 330px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #fff;
  border: solid #f6aa31 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #6f7277; }

.main-bottom {
  background: #fff;
  text-align: right;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px; }

.top-btn {
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #6f7277; }
  .top-btn * {
    vertical-align: middle; }
  .top-btn .fa {
    font-size: 30px; }

header {
  height: 560px;
  background: url("/img/home/header_placeholder.jpg"); }

.logo--header {
  margin-left: 50px;
  width: 225px;
  height: 85px;
  float: left; }

header {
  font-size: 14px; }

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right; }
  .header-nav ul li {
    display: inline-block;
    padding: 0 20px; }
    .header-nav ul li:last-child {
      padding: 0; }

.header-nav__item a {
  display: inline-block;
  border-top: 8px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "canada-type-gibson", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 4.24;
  letter-spacing: 0.7px;
  color: #ffffff; }

.slider {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px -8px 0 0 #f6aa31;
  margin-bottom: 30px; }

.slider-content {
  width: 100%;
  text-align: center;
  list-style: none;
  padding-left: 0; }

.slide {
  text-align: center;
  max-width: 725px;
  margin: auto; }

.slider__control {
  position: absolute;
  display: block;
  width: 18px;
  height: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 25px !important;
  color: #d7d7d7; }

.slider__control--prev {
  left: 10px; }

.slider__control--next {
  right: 10px; }

.slider-controls {
  text-align: center; }

.slider-controls__dot {
  width: 10px;
  height: 10px;
  background-color: #d7d7d7;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer; }

.slider-controls__dot--active {
  background-color: #f6aa31; }

.highlighted {
  background: url("../../img/home/research-reborn-bg.jpg");
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 14.28571%;
  padding-right: 14.28571%; }
  .highlighted * {
    color: #fff; }

.highlighted__header {
  font-family: "canada-type-gibson", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5; }

.tabs {
  margin: auto;
  border-bottom: solid 1px #dcdcdc;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px; }

.tabs--front {
  width: 350px; }

.tab {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 19px;
  color: #bfbfbf; }

.tab--active {
  color: #6f7277; }

.tab-content {
  text-align: center; }

.tab-content__description {
  margin-left: 225px;
  margin-right: 225px; }

.main-about-us__item h3 {
  font-size: 16px;
  line-height: 2.19;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
  margin-top: 25px; }
.main-about-us__item p {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.3px;
  text-align: left;
  color: #6f7277;
  padding-bottom: 40px; }

footer {
  height: 38px;
  background: #36342f;
  font-family: "museo", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.1px;
  color: #b2b2b1; }
  footer .container {
    padding: 5px 0; }

.logo--footer {
  float: left;
  padding-right: 40px;
  border-right: 1px solid #fff;
  display: inline-block; }

.conditionals {
  float: left;
  padding-top: 6px;
  padding-left: 40px; }
  .conditionals span {
    padding-left: 40px; }

.socials {
  float: right; }
  .socials a {
    width: 26px;
    height: 26px;
    display: block;
    float: left;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 26px;
    color: #fff; }

.news-item {
  position: relative; }

.news-item__preview {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 5px;
  overflow: hidden; }

.news-item--big .news-item__preview {
  padding: 14px 30px;
  left: 0; }

.news-item--regular .news-item__preview {
  width: 50%;
  right: 0;
  top: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 14px;
  padding-left: 8px; }
.news-item--regular .preview-header {
  margin-bottom: 8px; }
.news-item--regular:before {
  position: absolute;
  content: '';
  bottom: 5px;
  left: 0;
  height: 15px;
  width: calc(50% - 22px);
  background: rgba(0, 0, 0, 0.7); }

.event {
  position: relative; }

.event__date {
  position: absolute;
  right: 11px;
  top: 11px;
  background: rgba(0, 0, 0, 0.7);
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
  padding: 7px; }

.event__preview {
  position: absolute;
  bottom: 5px;
  padding-left: 30px;
  padding-right: 67px;
  padding-top: 25px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.7);
  height: 85px;
  overflow: hidden; }
  .event__preview .preview-header {
    margin-bottom: 18px; }

.connect {
  background: url("../../img/home/contect-bg.jpg");
  text-align: center;
  padding-top: 20px;
  padding-bottom: 65px; }

.connect--header {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-right: 130px;
  margin-left: 130px; }

.main-about-us {
  padding-top: 15px;
  margin-bottom: 9px; }

.main-news {
  padding: 60px 0; }
  .main-news h2 {
    margin-left: 40px; }

/*# sourceMappingURL=style.css.map */
