.connect {
  background: url('../../img/home/contect-bg.jpg');
  text-align: center;
  padding-top: 20px;
  padding-bottom: 65px;
}

.connect--header {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-right: 130px;
  margin-left: 130px;
}

