footer {
  height: 38px;
  background: $charcoal;
  font-family:  "museo", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.1px;
  color: $greyish;
  .container {
    padding: 5px 0;
  }
}

.logo--footer {
  float: left;
  padding-right: 40px;
  border-right: 1px solid #fff;
  display: inline-block;
}

.conditionals {
  float: left;
  padding-top: 6px;
  padding-left: 40px;
  span {
    padding-left: 40px;
  }
}

.socials {
    float: right;
  a {
    width: 26px;
    height: 26px;
    display: block;
    float: left;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 26px;
    color: #fff;
  }
}