.highlighted {
  background: url("../../img/home/research-reborn-bg.jpg");
  text-align: center;

  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 170px/$desktop-container * 100%;
  padding-right: 170px/$desktop-container * 100%;

  * {
    color: #fff;
  }
}

.highlighted__header {
  font-family: "canada-type-gibson", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}