header {
  font-size: 14px;
}

.header-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 20px;
      &:last-child {
        padding: 0;
      }
    }
  }
}

.header-nav {
  &__item a {
    display: inline-block;
    border-top: 8px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 4.24;
    letter-spacing: 0.7px;
    color: #ffffff;
  }
}