.news-item {
  position: relative;
}

.news-item__preview {
  background: $black-opacity;
  position: absolute;
  bottom: 5px;
  overflow: hidden;
}

.news-item--big {

  .news-item__preview {
    padding: 14px 30px;
    left: 0;
  }

}

.news-item--regular {
  .news-item__preview {
    width: 50%;
    right: 0;
    top: 0;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 8px;
  }

  .preview-header {
    margin-bottom: 8px;
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    height: 15px;
    width: calc(50% - 22px);
    background: $black-opacity;
  }
}

.event {
  position: relative;
}

.event__date {
  position: absolute;
  right: 11px;
  top: 11px;
  background: $black-opacity;

  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
  padding: 7px;
}

.event__preview {
  position: absolute;
  bottom: 5px;
  padding-left: 30px;
  padding-right: 67px;
  padding-top: 25px;
  padding-bottom: 15px;
  background: $black-opacity;
  height: 85px;
  overflow: hidden;

  .preview-header {
    margin-bottom: 18px;
  }
}

