.slider {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px -8px 0 0 $macaroni-and-cheese;
  margin-bottom: 30px;
}

.slider-content {
  width: 100%;
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.slide {
  text-align: center;
  max-width: 725px;
  margin: auto;
}

.slider__control {
  position: absolute;
  display: block;
  width: 18px;
  height: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 25px !important;
  color: $grey;
}

.slider__control--prev {
  left: 10px;
}

.slider__control--next {
  right: 10px;
}

.slider-controls {
  text-align: center;
}

.slider-controls__dot {
  width: 10px;
  height: 10px;
  background-color: $grey;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls__dot--active {
  background-color: $macaroni-and-cheese;
}