.tabs {
  margin: auto;
  border-bottom: solid 1px $grey-light;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tabs--front {
  width: 350px;
}

.tab {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 19px;
  color: $pinkish-greyish;
}

.tab--active {
  color: $battleship-grey;
}

.tab-content {
  text-align: center;
}

.tab-content__description {
  margin-left: 225px;
  margin-right: 225px;
}

.main-about-us__item {
  h3 {
    font-size: 16px;
    line-height: 2.19;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0;
    margin-top: 25px;
  }

  p {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    text-align: left;
    color: $battleship-grey;
    padding-bottom: 40px;
  }
}